/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(45deg, #4682B4, #00CED1);
    padding: 100px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: white; /* Ensuring headers in header section are white */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Section styles */
#featured-work {
    background-color: #f8f9fa;
    padding: 40px 0;
}

#quote-showcase {
    background-color: #4682B4;
    color: white;
    padding: 40px 0;
}

.creative-visual {
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 24px;
    font-style: italic;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quote-text p {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.quote-text p.active {
    opacity: 1;
}

.btn {
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 600;
    background-color: #00CED1; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Removing default border */
    cursor: pointer; /* Pointer cursor on hover */
}

.scratchGame {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.learn-play-text {
    font-size: 1.2em;
    color: #4682B4;
    transition: color 0.3s ease;
}

.learn-play-text:hover {
    color: #00CED1;
}

.text-center {
    text-align: center; /* Added to center align text */
}
